version: '3.8'

services:
  geth-node:
    image: ethereum/client-go:stable
    restart: always
    command:
      [
        '--goerli',
        '--http',
        '--http.addr',
        'geth-volume',
        '--http.api=web3,eth,personal,miner,net,txpool',
      ]
    networks: testnet
    ports:
      - '8545:8545'
      - '8546:8546'
      - '8547:8547'
      - '30303:30303'
    volumes:
      - geth-volume:/root/.ethereum
  prysm-beacon-node:
    image: gcr.io/prysmaticlabs/prysm/beacon-chain:stable
    restart: always
    command: [
        '--datadir=/data',
        '--rpc-host=prysm-beacon-node',
        '--rpc-port=4000',
        '--grpc-gateway-host=prysm-beacon-node',
        # need to fill in host-ip address
        '--http-web3provider=http://${host-ip}:8545',
        '--pyrmont',
      ]
    networks: testnet
    ports:
      - '4000:4000'
      - '13000:13000'
      - '12000:12000/udp'
    volumes:
      - prysm-volume:/data
  prysm-validator-node:
    image: gcr.io/prysmaticlabs/prysm/validator:stable
    restart: always
    command:
      [
        '--datadir=/data',
        '--beacon-rpc-provider=prysm-beacon-node:4000',
        '--wallet-dir',
        '/wallet',
      ]
    networks: testnet
    volumes:
      - prysm-wallet:/wallet
      - validator-db:/data

volumes:
  geth-volume:
  prysm-volume:
  prysm-wallet:
  validator-db:

networks:
  testnet:
