version: '3.8'

services:
  geth-node:
    image: ethereum/client-go:stable
    container_name: geth-node
    hostname: geth-node
    restart: always
    command: --goerli --nousb --http --http.port=8545 --http.addr=geth-node --http.vhosts="*" --http.api="web3,eth,personal,net"
    networks:
      - testnet
    ports:
      - 8545:8545
      - 8547:8547
      - 30303:30303
    volumes:
      - geth-volume:/root/.ethereum
  prysm-beacon-node:
    image: gcr.io/prysmaticlabs/prysm/beacon-chain:stable
    container_name: prysm-beacon-node
    hostname: prysm-beacon-node
    restart: always
    depends_on:
      - geth-node
    command: --config-file=/config/beacon-node.yaml
    networks:
      - testnet
    ports:
      - 4000:4000
      - 13000:13000
      - 12000:12000/udp
    volumes:
      - ./config/prysm/beacon-node.yaml:/config/beacon-node.yaml:ro
      - prysm-volume:/data
  prysm-validator-node:
    image: gcr.io/prysmaticlabs/prysm/validator:stable
    container_name: prysm-validator-node
    hostname: prysm-validator-node
    restart: on-failure
    depends_on:
      - prysm-beacon-node
    command: --config-file=/config/validator-node.yaml
    networks:
      - testnet
    volumes:
      - ./config/prysm/validator-node.yaml:/config/validator-node.yaml:ro
      - $HOME/validator:/data
      - validator-db:/db

volumes:
  geth-volume:
    name: geth-volume
  prysm-volume:
    name: prysm-volume
  validator-db:
    name: validator-db

networks:
  testnet:
    name: testnet
