version: '3.8'

services:
  geth-node:
    image: ethereum/client-go:stable
    ports:
      - '8545:8545'
      - '8546:8546'
      - '8547:8547'
      - '30303:30303'
    volumes:
      - geth-volume:/root/.ethereum
  prysm-beacon-node:
    image: gcr.io/prysmaticlabs/prysm/beacon-chain:stable
    ports:
      - '4000:4000'
      - '13000:13000'
      - '12000:12000/udp'
    volumes:
      - pyrmont:/data
  prysm-validator-node:
    image: gcr.io/prysmaticlabs/prysm/validator:stable
    volumes:
      - prysm-wallet:/wallet
      - validator-db:/data

volumes:
  geth-volume:
  prysm-volume:
  prysm-wallet:
  validator-db:

networks:
  testnet:
